* { margin: 0px;
padding: 0px; outline: 0;
}
/*html, body { width: 100%;}*/

body { /*background: #366;*/
font-family: Arial, Helvetica, Verdana,sans-serif;
scrollbar-face-color:#CCCCCC;
scrollbar-highlight-color:#CCCCCC; 
scrollbar-shadow-color:#CCCCC; 
scrollbar-3dlight-color:#FFFFFF; 
scrollbar-arrow-color:#FFFFFF;
scrollbar-track-color:#E3E3E3;
scrollbar-darkshadow-color:#000000;
}

#menu {  
text-align: center;
font-size: 0.6em;
width: 0px;
margin: -2px;
margin-top:20px;
}
#menu ul { list-style-type: none;
}
#menu ul li.nivel1 { 
width: 142px;
}
#menu ul li.primera { border-top: solid 0px #FFF;
}
#menu ul li a {display: block;
text-decoration: none;
color: #ffffff;
background-image:url('../imagenes/Boton.png');
border: solid 0px #fff;
border-top: none;
padding: 3px;
position: relative;
}
#menu ul li:hover {position: relative;
color: #CCCCCC;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {
color: #CCCCCC;
position: relative;
}
#menu ul li a.nivel1 {display: block!important;display: none;
position: relative;
}
#menu ul li ul {display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {
display: block;
position: absolute;
left: 142px;
top:-1px!important;
top: -31px;
color: #CCCCCC;
}
#menu ul li ul li a {width: 135px;
color: #FFFFFF;
}
#menu ul li ul li a:hover {position: relative;
color: #CCCCCC;
}
table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
}